.App {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    padding-top: 56px;
    background-color: #F5F5F5;
}

.functools {
    background-color: white;
    width: 100%;
}

.editor-container {
    display: flex;
    height: calc(100vh - 56px);
}

.content {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 24px;
    overflow-y: auto;
}